<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Page Not Found</title>
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Roboto+Mono&display=swap"
      rel="stylesheet"
    />
    <link
      rel="stylesheet"
      href="{{url_for('static', filename='css/error.css')}}"
    />
  </head>
  <body>
    {% block content %}
    <div class="error-container">
      <h1>{{error_message}}</h1>
      <p>Oops! Something is wrong.</p>
      <a href="/">Go back to the home page</a>
    </div>
    {% endblock %}
  </body>
</html>
