<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Processing</title>
    <link
      rel="stylesheet"
      href="{{url_for('static', filename='/css/loading.css')}}"
    />
  </head>
  <body>
    <div class="loader"></div>
    <h1>Processing...</h1>
    {%block content%}
    <form
      action="/bypass/{{mainurl}}"
      name="myForm"
      id="myForm"
      method="post"
      hidden
    >
      <input type="text" name="myInput" value="{{mainurl}}" />
    </form>
    {%endblock%}

    <script>
      const form = document.getElementById("myForm");
      form.submit();
    </script>
  </body>
</html>
